<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--De forma directa(tiene su logica)-->
  <ion-button [routerLink]="['/home']">
    Ir al Home
    </ion-button>
    <!--Creamos la logica desde el login.ts para direccionar-->
    <ion-button (click)='irAlHome()'>
      Al home de nuevo
    </ion-button>
    <!--Mediante inputs-->
    <ion-input type='text'[(ngModel)]='user.usuario'>
      Usuario
    </ion-input> 
    <ion-input type='password' [(ngModel)]='user.password'>
      Password
    </ion-input>
    <ion-button (click)='enviarDatos(user)'>
    Enviar
    </ion-button>       
</ion-content>

